<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <customErrors mode="off" />
    </system.web>
    <system.webServer>
        <handlers>
            <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
        </handlers>
        <staticContent>
             <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
             <mimeMap fileExtension=".woff" mimeType="application/x-woff" />
             <mimeMap fileExtension=".ttf" mimeType="application/x-woff" />
        </staticContent>
        <rewrite>
            <rules>
                <rule name="DynamicContent">
                     <conditions>
                          <add input="{{REQUEST_FILENAME}}" matchType="IsFile" negate="True"/>
                     </conditions>
                     <action type="Rewrite" url="server.js"/>
                </rule>
           </rules>
        </rewrite>
        <httpErrors existingResponse="PassThrough" />
    </system.webServer>
</configuration>