@import "framework/bootstrap";
@import "framework/font-awesome";
@import "framework/variables";
@import "framework/icons/fr";

body{
  padding-bottom: 60px;
}
header{
  margin-top: 20px;
  font-family: Montserrat;
  &.navbar{
    margin-bottom:0;
    border-width:0;
  }
  .container{
    background-color: @blue4;
  }
}
.container{
  background-color: @background;
}
header, header a{
  color: @background;
  text-transform: uppercase;
}
.nav li{
  text-align:center;
  &:first-child{
    background-color: @blue1;
    a:hover{
      color: @blue1;
    }
  }
  &:nth-child(2){
    background-color: @blue2;
    a:hover{
      color: @blue2;
    }
  }
  &:nth-child(3){
    background-color: @blue3;
    a:hover{
      color: @blue3;
    }
  }
  a{
    &:hover{
      background-color: @background;
    }
  }
  &.active{
    background-color: @background;
    margin-top: -5px;
    padding-top: 5px;
    a{
      color: @blue4;
    }
    &:first-child{
      a{
        color: @blue1;
      }
    }
    &:nth-child(2){
      a{
        color: @blue2;
      }
    }
    &:nth-child(3){
      a{
        color: @blue3;
      }
    }
  }
}
nav.social .container {
  background: none;
  padding-right: 0;
}
section {
  margin-bottom: 20px;
}
.banner{
  @media (min-width: @screen-sm-min) {
    height: 257px;
    background-image: url('../images/banner-sm.jpg');
  }
  @media (min-width: @screen-md-min) {
    height: 332px;
    background-image: url('../images/banner-md.jpg');
  }
  @media (min-width: @screen-lg-min) {
    height: 400px;
    background-image: url('../images/banner-lg.jpg');
  }
}